# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Environment variables
.env

# Data and SQLite
*.db
data/*.db
data/*.sqlite

# Logs and Reports
logs/*.log
reports/*.csv
reports/*.json

# IDEs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db
